<div>
<h1 class="header">Stupid Coaching</h1>
<form class="input" action="answer">
  <input class="form-control" type="text" id="question" name="question" placeholder="Can I help You?">
  <input type="submit" value=Ask>
</form>
</div>
